<?xml version="1.0" encoding="utf-8"?>

<!--
    Generated Android color resources file.

    Create a new file to add static string resources if needed.
    Any changes in this file will be overwritten on ./app.sh prepare.
-->

<resources>
    <color name="push_notification_icon_color">#__android_push_notification_icon_color__</color>
</resources>