<?xml version="1.0" encoding="utf-8"?>

<!--
    Generated Android string resources file.

    Create a new file to add static string resources if needed.
    Any changes in this file will be overwritten on ./app.sh prepare.
-->

<resources>
    <string name="app_name">__app_name__</string>
    <string name="facebook_app_id">__facebook_app_id__</string>
    <string name="fb_login_protocol_scheme">fb__facebook_app_id__</string>
    <string name="admob_app_id">__admob_android_app_id__</string>
</resources>