
{
    "name": "__name___",
    "short_name": "__short_name___",
    "start_url": "index.html?pwa=1",
    "display": "standalone",
    "background_color": "#__background_color___",
    "theme_color": "#__background_color___",
    "description": "__desc___",
    "orientation": "portrait-primary",
    "prefer_related_applications": false,
    "icons": [
        {
            "src": "__pwa_icon_512__",
            "sizes": "512x512",
            "type": "image/png"
        },
        {
            "src": "__pwa_icon_192__",
            "sizes": "192x192",
            "type": "image/png"
        }
    ]
}
