# APP ICON

LAUNCH_ICON_ANDROID="assets/image/app/app_launch_icon_android.png"
LAUNCH_ICON_IOS="assets/image/app/app_launch_icon_ios.png"

# PUSH NOTIFICATION ICON

ANDROID_PUSH_NOTIFICATION_ICON_COLOR="FC2929"

# SPLASH SCREEN

SPLASH_SCREEN_IMAGE="assets/image/app/splash.png"
SPLASH_SCREEN_IMAGE_DARK="assets/image/app/splash_dark.png"
SPLASH_SCREEN_BACKGROUND="ffffff"
SPLASH_SCREEN_BACKGROUND_DARK="1C1E22"
SPLASH_SCREEN_WIDTH_PWA="45%"

# PWA ICON

PWA_ICON_512="assets/image/app/pwa_icon-512.png"
PWA_ICON_192="assets/image/app/pwa_icon-192.png"
PWA_APPLE_ICON="assets/image/app/pwa_apple_icon.png"
PWA_APPLE_ICON_SIZE="180x180"
PWA_FAV_ICON="assets/image/app/favicon.ico"

# THEME

## general app colors 
THEME_COMMON_HARDCODED_WHITE_COLOR="0xffffffff"

THEME_COMMON_HARDCODED_BLACK_COLOR="0xff000000"

THEME_COMMON_DANGEROUS_COLOR="0xffFF554D"
THEME_COMMON_DANGEROUS_COLOR_DARK="0xffFF554D"

THEME_COMMON_WARNING_COLOR="0xFFF13939"
THEME_COMMON_WARNING_COLOR_DARK="0xFFF13939"

THEME_COMMON_SYSTEM_ICON_COLOR="0xffcfd9e1"
THEME_COMMON_SYSTEM_ICON_COLOR_DARK="0xffAEAEAF"

THEME_COMMON_ALERT_ICON_COLOR="0xffF12842"
THEME_COMMON_ALERT_ICON_COLOR_DARK="0xffF12842"

THEME_COMMON_SUCCESS_ICON_COLOR="0xff03D848"
THEME_COMMON_SUCCESS_ICON_COLOR_DARK="0xff03D848"

THEME_COMMON_PENDING_ICON_COLOR="0xffFEFEFE"
THEME_COMMON_PENDING_ICON_COLOR_DARK="0xffFEFEFE"

## text color
THEME_COMMON_TEXT_COLOR="0xff313233"
THEME_COMMON_TEXT_COLOR_DARK="0xFFAEAEAF"

## accent color (join avatar border, navigation buttons, google location icons)
THEME_COMMON_ACCENT_COLOR="0xffBCAD8B"
THEME_COMMON_ACCENT_COLOR_DARK="0xffBCAD8B"

## gradient color
THEME_COMMON_GRADIENT_START_COLOR="0xFFEF8D32"
THEME_COMMON_GRADIENT_START_COLOR_DARK="0xFFEF8D32"

THEME_COMMON_GRADIENT_END_COLOR="0xFFEE0E5C"
THEME_COMMON_GRADIENT_END_COLOR_DARK="0xFFEE0E5C"

## light icons
THEME_COMMON_ICON_LIGHT_COLOR="0xFFFFFFFF"
THEME_COMMON_ICON_LIGHT_COLOR_DARK="0xFFFFFFFF"

## skeleton 
THEME_COMMON_SKELETON_COLOR="0xFFD8D8D8"
THEME_COMMON_SKELETON_COLOR_DARK="0xFF1C1E22"

THEME_COMMON_SKELETON_LIGHT_COLOR="0xFFFFFFFF"
THEME_COMMON_SKELETON_LIGHT_COLOR_DARK="0xFF3E4149"

## scaffold 
THEME_COMMON_SCAFFOLD_DEFAULT_COLOR="0xFFF2F2F7"
THEME_COMMON_SCAFFOLD_DEFAULT_COLOR_DARK="0xFF1C1E22"

THEME_COMMON_SCAFFOLD_LIGHT_COLOR="0xFFFFFFFF"
THEME_COMMON_SCAFFOLD_LIGHT_COLOR_DARK="0xFF25272B"

THEME_COMMON_SCAFFOLD_BAR_COLOR="0xFFFFFFFF"
THEME_COMMON_SCAFFOLD_BAR_COLOR_DARK="0xFF25272B"

THEME_COMMON_APP_BAR_BORDER_COLOR="0xffE8E8E8"
THEME_COMMON_APP_BAR_BORDER_COLOR_DARK="0xff313233"

## form elements
THEME_COMMON_INPUT_TEXT_BACKGROUND_COLOR="0xffffffff"
THEME_COMMON_INPUT_TEXT_BACKGROUND_COLOR_DARK="0xFF1C1E22"

THEME_COMMON_FORM_TEXT_COLOR="0xFF000000"
THEME_COMMON_FORM_TEXT_COLOR_DARK="0xFFAEAEAF"

THEME_COMMON_FORM_PLACEHOLDER_COLOR="0xFFA9A9B1"
THEME_COMMON_FORM_PLACEHOLDER_COLOR_DARK="0xff676A70"

THEME_COMMON_FORM_VALUE_COLOR="0xFF8A8A8E"
THEME_COMMON_FORM_VALUE_COLOR_DARK="0xFF8A8A8E"

THEME_COMMON_FORM_LABEL_COLOR="0xFF030303"
THEME_COMMON_FORM_LABEL_COLOR_DARK="0xFFAEAEAF"

THEME_COMMON_FORM_SECTION_COLOR="0xFF6D6D72"
THEME_COMMON_FORM_SECTION_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_SEGMENTED_CONTROL_TEXT_COLOR="0xffffffff"
THEME_COMMON_SEGMENTED_CONTROL_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_ALERT_PASSIVE_ICON_COLOR="0xff9e9e9e"
THEME_COMMON_ALERT_PASSIVE_ICON_COLOR_DARK="0xff9e9e9e"

## border/divider (form elements borders, lists)
THEME_COMMON_DIVIDER_COLOR="0xFFD8D8D8"
THEME_COMMON_DIVIDER_COLOR_DARK="0xFF2F3133"

## question/fake question view (settings, profile view info, etc)
THEME_COMMON_INFO_ITEM_LABEL_COLOR="0xff000000"
THEME_COMMON_INFO_ITEM_LABEL_COLOR_DARK="0xffAEAEAF"

THEME_COMMON_INFO_ITEM_VALUE_COLOR="0xffA9A9B1"
THEME_COMMON_INFO_ITEM_VALUE_COLOR_DARK="0xff676A70"

THEME_COMMON_SELECT_ARROW_COLOR="0xffC7C7CC"
THEME_COMMON_SELECT_ARROW_COLOR_DARK="0xff5B5D63"

## horizontal user cards (bookmarks, guests, compatible users)
THEME_COMMON_USER_LIST_ITEM_ROW_HIGHLIGHT_COLOR="0xffFBF6DB"
THEME_COMMON_USER_LIST_ITEM_ROW_HIGHLIGHT_COLOR_DARK="0xffFBF6DB"

## user cards
THEME_COMMON_USER_CARD_ONLINE_COLOR="0xff7ED321"
THEME_COMMON_USER_CARD_ONLINE_COLOR_DARK="0xff7ED321"

THEME_COMMON_USER_CARD_DISTANCE_COLOR="0xffa9a9b1"
THEME_COMMON_USER_CARD_DISTANCE_COLOR_DARK="0xffa9a9b1"

## blank pages
THEME_COMMON_BLANK_DESCR_COLOR="0xFFA9A9B1"
THEME_COMMON_BLANK_DESCR_COLOR_DARK="0xFFA9A9B1"

THEME_COMMON_BLANK_TITLE_COLOR="0xFF030303"
THEME_COMMON_BLANK_TITLE_COLOR_DARK="0xffffffff"

## login
THEME_COMMON_LOGIN_FORM_INPUT_BACKGROUND="0xFF000000"
THEME_COMMON_LOGIN_FORM_INPUT_BACKGROUND_DARK="0xFF000000"

THEME_COMMON_LOGIN_FORM_TEXT_COLOR="0xFFD6D6D6"
THEME_COMMON_LOGIN_FORM_TEXT_COLOR_DARK="0xFFD6D6D6"

THEME_COMMON_LOGIN_FORM_PLACEHOLDER_COLOR="0xFFD6D6D6"
THEME_COMMON_LOGIN_FORM_PLACEHOLDER_COLOR_DARK="0xFFD6D6D6"

THEME_COMMON_LOGIN_FIREBASE_LABEL_COLOR="0xFFFFFFFF"
THEME_COMMON_LOGIN_FIREBASE_LABEL_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_LOGIN_FIREBASE_DIVIDER_COLOR="0xFFFFFFFF"
THEME_COMMON_LOGIN_FIREBASE_DIVIDER_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_LOGIN_INLINE_BUTTON_COLOR="0xFFFFFFFF"
THEME_COMMON_LOGIN_INLINE_BUTTON_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_LOGIN_BUTTON_COLOR="0xFFFFFFFF"
THEME_COMMON_LOGIN_BUTTON_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_LOGIN_FIREBASE_FACEBOOK_ICON_BACKGROUND_COLOR="0xff4267b2"
THEME_COMMON_LOGIN_FIREBASE_FACEBOOK_ICON_BACKGROUND_COLOR_DARK="0xff4267b2"

THEME_COMMON_LOGIN_FIREBASE_GOOGLE_ICON_BACKGROUND_COLOR="0xffdf3b1f"
THEME_COMMON_LOGIN_FIREBASE_GOOGLE_ICON_BACKGROUND_COLOR_DARK="0xffdf3b1f"

THEME_COMMON_LOGIN_FIREBASE_TWITTER_ICON_BACKGROUND_COLOR="0xff5fbaf4"
THEME_COMMON_LOGIN_FIREBASE_TWITTER_ICON_BACKGROUND_COLOR_DARK="0xff5fbaf4"

THEME_COMMON_LOGIN_FIREBASE_APPLE_ICON_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_LOGIN_FIREBASE_APPLE_ICON_BACKGROUND_COLOR_DARK="0xff000000"

##  dashboard profile
THEME_COMMON_DASHBOARD_PROFILE_USER_NAME_COLOR="0xff000000"
THEME_COMMON_DASHBOARD_PROFILE_USER_NAME_COLOR_DARK="0xffAEAEAF"

THEME_COMMON_DASHBOARD_PROFILE_USER_DESC_COLOR="0xff5E5E5E"
THEME_COMMON_DASHBOARD_PROFILE_USER_DESC_COLOR_DARK="0xff676A70"

THEME_COMMON_DASHBOARD_PROFILE_BUTTON_BORDER_COLOR="0xffDBDEE3"
THEME_COMMON_DASHBOARD_PROFILE_BUTTON_BORDER_COLOR_DARK="0xff676A70"

THEME_COMMON_DASHBOARD_PROFILE_LINK_COLOR="0xffffffff"
THEME_COMMON_DASHBOARD_PROFILE_LINK_COLOR_DARK="0xffffffff"

THEME_COMMON_DASHBOARD_PROFILE_GUIDE_BACKGROUND_COLOR="0xfff6c102"
THEME_COMMON_DASHBOARD_PROFILE_GUIDE_BACKGROUND_COLOR_DARK="0xfff6c102"

THEME_COMMON_DASHBOARD_PROFILE_GUIDE_COLOR="0xff333333"
THEME_COMMON_DASHBOARD_PROFILE_GUIDE_COLOR_DARK="0xff333333"

THEME_COMMON_DASHBOARD_PROFILE_NOTIFICATION_BACKGROUND_COLOR="0xffE80875"
THEME_COMMON_DASHBOARD_PROFILE_NOTIFICATION_BACKGROUND_COLOR_DARK="0xffE80875"

## dashboard menu
THEME_COMMON_DASHBOARD_MENU_WIDGET_PASSIVE_ICON_COLOR="0xff909296"
THEME_COMMON_DASHBOARD_MENU_WIDGET_PASSIVE_ICON_COLOR_DARK="0xff909296"

THEME_COMMON_DASHBOARD_MENU_WIDGET_BORDER_COLOR="0xffD5D7DB"
THEME_COMMON_DASHBOARD_MENU_WIDGET_BORDER_COLOR_DARK="0xFF1C1E22"

## edit
THEME_COMMON_EDIT_PHOTO_SLOT_BACKGROUND="0xffCFD9E2"
THEME_COMMON_EDIT_PHOTO_SLOT_BACKGROUND_DARK="0xff676A70"

THEME_COMMON_EDIT_PHOTO_EXTRA_SLOT_ICON_COLOR="0xffB1BEC9"
THEME_COMMON_EDIT_PHOTO_EXTRA_SLOT_ICON_COLOR_DARK="0xff25272B"

THEME_COMMON_EDIT_PHOTO_APPROVAL_TEXT_COLOR="0XFFBABABD"
THEME_COMMON_EDIT_PHOTO_APPROVAL_TEXT_COLOR_DARK="0XFFBABABD"

## hot list
THEME_COMMON_HOT_LIST_EMPTY_TEXT_COLOR="0xffffffff"
THEME_COMMON_HOT_LIST_EMPTY_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_HOT_LIST_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_HOT_LIST_BACKGROUND_COLOR_DARK="0xff000000"

## tinder
THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BORDER_COLOR="0xffCCD1D7"
THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BORDER_COLOR_DARK="0xffffffff"

THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_COLOR="0xffCCD1D7"
THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_COLOR_DARK="0xff676A70"

THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_REWIND_ICON_BACKGROUND_COLOR="0xffF6A945"
THEME_COMMON_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_REWIND_ICON_BACKGROUND_COLOR_DARK="0xffF6A945"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_FILTERS_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_FILTERS_BACKGROUND_COLOR_DARK="0xff000000"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_FILTERS_BORDER_COLOR="0xffffffff"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_FILTERS_BORDER_COLOR_DARK="0xffffffff"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_TEXT_COLOR="0xffffffff"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_BORDER_COLOR="0xffffffff"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_BORDER_COLOR_DARK="0xffffffff"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_LIKE_BACKGROUND_COLOR="0xfff03346"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_LIKE_BACKGROUND_COLOR_DARK="0xfff03346"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_DISLIKE_BACKGROUND_COLOR="0xff57ff8e"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_SWIPE_DISLIKE_BACKGROUND_COLOR_DARK="0xff57ff8e"

THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_DISTANCE_COLOR="0xffD3D3D3"
THEME_COMMON_DASHBOARD_TINDER_USER_CARD_WIDGET_DISTANCE_COLOR_DARK="0xffD3D3D3"

## search
THEME_COMMON_SEARCH_FIELD_ICONS_COLOR="0xffC4CAD1"
THEME_COMMON_SEARCH_FIELD_ICONS_COLOR_DARK="0xff676A70"

THEME_COMMON_SEARCH_FIELD_BACKGROUND_COLOR="0xffEFF1F3"
THEME_COMMON_SEARCH_FIELD_BACKGROUND_COLOR_DARK="0xFF1C1E22"

## it's a match
THEME_COMMON_MATCHED_USER_BACKGROUND_GRADIENT_START_COLOR="0xff8C8064"
THEME_COMMON_MATCHED_USER_BACKGROUND_GRADIENT_START_COLOR_DARK="0xff8C8064"

THEME_COMMON_MATCHED_USER_BACKGROUND_GRADIENT_END_COLOR="0xff9F9688"
THEME_COMMON_MATCHED_USER_BACKGROUND_GRADIENT_END_COLOR_DARK="0xff9F9688"

THEME_COMMON_MATCHED_USER_HEADER_TEXT_COLOR="0xffffffff"
THEME_COMMON_MATCHED_USER_HEADER_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_MATCHED_USER_DESC_TEXT_COLOR="0xffffffff"
THEME_COMMON_MATCHED_USER_DESC_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_MATCHED_USER_BUTTON_TEXT_COLOR="0xffffffff"
THEME_COMMON_MATCHED_USER_BUTTON_TEXT_COLOR_DARK="0xffffffff"

THEME_COMMON_MATCHED_USER_BUTTON_BORDER_COLOR="0xffffffff"
THEME_COMMON_MATCHED_USER_BUTTON_BORDER_COLOR_DARK="0xffffffff"

## profile
THEME_COMMON_PROFILE_ACTION_TOOLBAR_WRAPPER_BACKGROUND_COLOR="0xffffffff"
THEME_COMMON_PROFILE_ACTION_TOOLBAR_WRAPPER_BACKGROUND_COLOR_DARK="0xFF25272B"

THEME_COMMON_PROFILE_ACTION_TOOLBAR_WRAPPER_SHADOW_COLOR="0xffffffff"
THEME_COMMON_PROFILE_ACTION_TOOLBAR_WRAPPER_SHADOW_COLOR_DARK="0xFF25272B"

THEME_COMMON_PROFILE_INFO_MORE_ICON_COLOR="0xffC7C7CC"
THEME_COMMON_PROFILE_INFO_MORE_ICON_COLOR_DARK="0xff5B5D63"

THEME_COMMON_PROFILE_PHOTO_BACK_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_PROFILE_PHOTO_BACK_BACKGROUND_COLOR_DARK="0xff000000"

THEME_COMMON_PROFILE_PHOTO_PAGINATION_SHADOW_COLOR="0xff000000"
THEME_COMMON_PROFILE_PHOTO_PAGINATION_SHADOW_COLOR_DARK="0xff000000"

THEME_COMMON_PROFILE_PHOTO_EDIT_BUTTON_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_PROFILE_PHOTO_EDIT_BUTTON_BACKGROUND_COLOR_DARK="0xff000000"

THEME_COMMON_PROFILE_COMPATIBILITY_BAR_BACKGROUND_COLOR="0xffc0bcbc"
THEME_COMMON_PROFILE_COMPATIBILITY_BAR_BACKGROUND_COLOR_DARK="0xffc0bcbc"

THEME_COMMON_PROFILE_VIDEO_CHAT_ICON_BACKGROUND_COLOR="0xff55C77B"
THEME_COMMON_PROFILE_VIDEO_CHAT_ICON_BACKGROUND_COLOR_DARK="0xff55C77B"

THEME_COMMON_PROFILE_ACTION_TOOLBAR_LIKE_ICON_BACKGROUND_COLOR="0xffFC2929"
THEME_COMMON_PROFILE_ACTION_TOOLBAR_LIKE_ICON_BACKGROUND_COLOR_DARK="0xffFC2929"

## preview photos
THEME_COMMON_PREVIEW_PHOTOS_CLOSE_ICON_COLOR="0xFFFFFFFF"
THEME_COMMON_PREVIEW_PHOTOS_CLOSE_ICON_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_PREVIEW_PHOTOS_BACKGROUND_COLOR="0xFF000000"
THEME_COMMON_PREVIEW_PHOTOS_BACKGROUND_COLOR_DARK="0xFF000000"

## profile actions/slide actions (guests, bookmarks, compatible users)
THEME_COMMON_PROFILE_ACTION_1_COLOR="0xff02C441"
THEME_COMMON_PROFILE_ACTION_1_COLOR_DARK="0xff02C441"

THEME_COMMON_PROFILE_ACTION_2_COLOR="0xffFF2E24"
THEME_COMMON_PROFILE_ACTION_2_COLOR_DARK="0xffFF2E24"

THEME_COMMON_PROFILE_ACTION_TEXT_COLOR="0xffffffff"
THEME_COMMON_PROFILE_ACTION_TEXT_COLOR_DARK="0xffffffff"

## messages
THEME_COMMON_MESSAGE_CHAT_SCROLLER_ICON_COLOR="0xffAEBECE"
THEME_COMMON_MESSAGE_CHAT_SCROLLER_ICON_COLOR_DARK="0xff676A70"

THEME_COMMON_MESSAGE_CHAT_DATE_COLOR="0xff8A8E92"
THEME_COMMON_MESSAGE_CHAT_DATE_COLOR_DARK="0xff8A8E92"

THEME_COMMON_MESSAGE_CHAT_WINK_TIME_COLOR="0xffC4C4C4"
THEME_COMMON_MESSAGE_CHAT_WINK_TIME_COLOR_DARK="0xffC4C4C4"

THEME_COMMON_MESSAGE_CHAT_WINK_RECEIVED_ICON_COLOR="0xffC3C8CD"
THEME_COMMON_MESSAGE_CHAT_WINK_RECEIVED_ICON_COLOR_DARK="0xff676A70"

THEME_COMMON_MESSAGE_CHAT_ATTACHMENT_ICON_COLOR="0xffCFD9E2"
THEME_COMMON_MESSAGE_CHAT_ATTACHMENT_ICON_COLOR_DARK="0xff5B5D63"

THEME_COMMON_MESSAGE_CHAT_PROMOTED_CONTENT_COLOR="0xFFFFFFFF"
THEME_COMMON_MESSAGE_CHAT_PROMOTED_CONTENT_COLOR_DARK="0xFF25272B"

## video im
THEME_COMMON_VIDEO_IM_CALL_WIDGET_WRAPPER_BACKGROUND_COLOR="0xff000000"
THEME_COMMON_VIDEO_IM_CALL_WIDGET_WRAPPER_BACKGROUND_COLOR_DARK="0xff000000"

THEME_COMMON_VIDEO_IM_CALL_WIDGET_NO_ANSWER_TEXT_COLOR="0xffFF4444"
THEME_COMMON_VIDEO_IM_CALL_WIDGET_NO_ANSWER_TEXT_COLOR_DARK="0xffFF4444"

THEME_COMMON_VIDEO_IM_CALL_WIDGET_LOCAL_VIDEO_SHADOW_COLOR="0xff000000"
THEME_COMMON_VIDEO_IM_CALL_WIDGET_LOCAL_VIDEO_SHADOW_COLOR_DARK="0xff000000"

THEME_COMMON_VIDEO_IM_WIDGET_BLUR_OVERLAY_BACKGROUND_COLOR="0xff1f2028"
THEME_COMMON_VIDEO_IM_WIDGET_BLUR_OVERLAY_BACKGROUND_COLOR_DARK="0xff1f2028"

THEME_COMMON_VIDEO_IM_WIDGET_CALL_PHONE_ICON_COLOR="0xff55C77B"
THEME_COMMON_VIDEO_IM_WIDGET_CALL_PHONE_ICON_COLOR_DARK="0xff55C77B"

THEME_COMMON_VIDEO_IM_WIDGET_END_CALL_PHONE_ICON_COLOR="0xffFF3B30"
THEME_COMMON_VIDEO_IM_WIDGET_END_CALL_PHONE_ICON_COLOR_DARK="0xffFF3B30"

## payments
THEME_COMMON_PAYMENT_BILLING_GATEWAY_BORDER_COLOR="0xffE8ECF0"
THEME_COMMON_PAYMENT_BILLING_GATEWAY_BORDER_COLOR_DARK="0xff313233"

THEME_COMMON_PAYMENT_INITIAL_HIGHLIGHT_COLOR="0xff02C441"
THEME_COMMON_PAYMENT_INITIAL_HIGHLIGHT_COLOR_DARK="0xff02C441"

THEME_COMMON_PAYMENT_ORDER_PROCESSING_PAGE_ICON_COLOR="0xffF3B456"
THEME_COMMON_PAYMENT_ORDER_PROCESSING_PAGE_ICON_COLOR_DARK="0xffF3B456"

## toaster
THEME_COMMON_TOASTER_TEXT_COLOR="0xFFFFFFFF"
THEME_COMMON_TOASTER_TEXT_COLOR_DARK="0xFFFFFFFF"

THEME_COMMON_TOASTER_BACKGROUND_COLOR="0xFF303030"
THEME_COMMON_TOASTER_BACKGROUND_COLOR_DARK="0xFF303030"

# CUSTOM THEME

## login
THEME_CUSTOM_LOGIN_FORM_INPUT_ICON_COLOR="0xffD6D6D6"
THEME_CUSTOM_LOGIN_FORM_INPUT_ICON_COLOR_DARK="0xffD6D6D6"

THEME_CUSTOM_LOGIN_FORM_BUTTON_BACKGROUND_COLOR="0xffFC2929"
THEME_CUSTOM_LOGIN_FORM_BUTTON_BACKGROUND_COLOR_DARK="0xffFC2929"

## dashboard profile
THEME_CUSTOM_DASHBOARD_PROFILE_BUTTON_BACKGROUND_COLOR="0x00000000"
THEME_CUSTOM_DASHBOARD_PROFILE_BUTTON_BACKGROUND_COLOR_DARK="0x00000000"

THEME_CUSTOM_DASHBOARD_PROFILE_BUTTON_TEXT_COLOR="0x00000000"
THEME_CUSTOM_DASHBOARD_PROFILE_BUTTON_TEXT_COLOR_DARK="0x00000000"

THEME_CUSTOM_DASHBOARD_PROFILE_WRAPPER_BACKGROUND_COLOR="0xffF2F2F2"
THEME_CUSTOM_DASHBOARD_PROFILE_WRAPPER_BACKGROUND_COLOR_DARK="0xffF2F2F2"

THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_BACKGROUND_COLOR="0xFFFFFFFF"
THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_BACKGROUND_COLOR_DARK="0xFFFFFFFF"

THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_SHADOW_COLOR="0xffDFDFDF"
THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_SHADOW_COLOR_DARK="0xffDFDFDF"

THEME_CUSTOM_DASHBOARD_PROFILE_AVATAR_BACKGROUND_COLOR="0xffF2F2F2"
THEME_CUSTOM_DASHBOARD_PROFILE_AVATAR_BACKGROUND_COLOR_DARK="0xffF2F2F2"

THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_BORDER_COLOR="0xffF2F2F2"
THEME_CUSTOM_DASHBOARD_PROFILE_INFO_WRAPPER_BORDER_COLOR_DARK="0xffF2F2F2"

## notification
THEME_CUSTOM_NOTIFICATION_BACKGROUND_COLOR="0xffFC2929"
THEME_CUSTOM_NOTIFICATION_BACKGROUND_COLOR_DARK="0xffFC2929"

## compatibility bar
THEME_CUSTOM_PROFILE_COMPATIBILITY_BAR_MAIN_BACKGROUND_COLOR="0xff7ED321"
THEME_CUSTOM_PROFILE_COMPATIBILITY_BAR_MAIN_BACKGROUND_COLOR_DARK="0xff7ED321"

## tinder
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_DISLIKE_ICON_BACKGROUND_COLOR="0xff9C9C9C"
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_DISLIKE_ICON_BACKGROUND_COLOR_DARK="0xff9C9C9C"

THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_ACTIVE_COLOR="0xffffffff"
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_ACTIVE_COLOR_DARK="0xffffffff"

THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_DISLIKE_ICON_COLOR="0xffffffff"
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_DISLIKE_ICON_COLOR_DARK="0xffffffff"

THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BACKGROUND_COLOR="0xffDCDCDC"
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BACKGROUND_COLOR_DARK="0xff676A70"

THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_ACTIVE_BACKGROUND_COLOR="0xffCCD1D7"
THEME_CUSTOM_DASHBOARD_TINDER_ACTION_TOOLBAR_WIDGET_SMALL_ICON_ACTIVE_BACKGROUND_COLOR_DARK="0xff676A70"

THEME_CUSTOM_DASHBOARD_TINDER_LOADING_WIDGET_RADAR_START_COLOR="0xFFFC2929"
THEME_CUSTOM_DASHBOARD_TINDER_LOADING_WIDGET_RADAR_START_COLOR_DARK="0xFFFC2929"

THEME_CUSTOM_DASHBOARD_TINDER_LOADING_WIDGET_RADAR_END_COLOR="0xFFFF7070"
THEME_CUSTOM_DASHBOARD_TINDER_LOADING_WIDGET_RADAR_END_COLOR_DARK="0xFFFF7070"

## it's a match
THEME_CUSTOM_MATCHED_SEND_MESSAGE_BUTTON_BACKGROUND_COLOR="0xffFC2929"
THEME_CUSTOM_MATCHED_SEND_MESSAGE_BUTTON_BACKGROUND_COLOR_DARK="0xffFC2929"

THEME_CUSTOM_MATCHED_SEND_MESSAGE_BUTTON_TEXT_COLOR="0xFFFFFFFF"
THEME_CUSTOM_MATCHED_SEND_MESSAGE_BUTTON_TEXT_COLOR_DARK="0xFFFFFFFF"

THEME_CUSTOM_MATCHED_SEND_MESSAGE_ICON_COLOR="0xFFFFFFFF"
THEME_CUSTOM_MATCHED_SEND_MESSAGE_ICON_COLOR_DARK="0xFFFFFFFF"

## profile
THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BORDER_COLOR="0xff358DFF"
THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BORDER_COLOR_DARK="0xff358DFF"

THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BACKGROUND_COLOR="0xff358DFF"
THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_BACKGROUND_COLOR_DARK="0xff358DFF"

THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_COLOR="0xff358DFF"
THEME_CUSTOM_PROFILE_ACTION_TOOLBAR_WIDGET_SMALL_ICON_COLOR_DARK="0xff358DFF"

## conversations
THEME_CUSTOM_DASHBOARD_CONVERSATION_LIST_BACKGROUND_COLOR="0xffF7F7F8"
THEME_CUSTOM_DASHBOARD_CONVERSATION_LIST_BACKGROUND_COLOR_DARK="0xFF1C1E22"

THEME_CUSTOM_DASHBOARD_CONVERSATION_LIST_PREVIEW_TEXT_COLOR="0xff707070"
THEME_CUSTOM_DASHBOARD_CONVERSATION_LIST_PREVIEW_TEXT_COLOR_DARK="0xff707070"
